<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= content_for(:head) if content_for?(:head) %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <%= link_to '日報システム', root_path, class: 'navbar-brand' %>
        </div>
        <div class="navbar-collapse collapse">
          <%= global_header %>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
    <%= content_for(:foot) if content_for?(:foot) %>
  </body>
</html>
